<mat-tab-group
  [selectedIndex]="activeIndex"
  [disableRipple]="true"
  [dynamicHeight]="true"
  animationDuration="0ms"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab
    *ngFor="let tab of tabs.toArray()"
    [disabled]="tab.disabled"
  >
    <ng-template mat-tab-label>
      <span *ngIf="tab.icon" class="ds-icon ds-icon--sm" aria-hidden="true">{{ tab.icon }}</span>
      {{ tab.label }}
      <span *ngIf="tab.showBadge" class="ds-tabs__dot" aria-label="New notification"></span>
    </ng-template>
    <div class="ds-tabs__panel">
      <ng-container *ngTemplateOutlet="tab.contentRef"></ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
