<label [class]="wrapperClasses" [for]="inputId">
  <input
    [id]="inputId"
    type="checkbox"
    class="ds-checkbox__control"
    [checked]="checked"
    [indeterminate]="indeterminate"
    [disabled]="disabled"
    [attr.aria-checked]="indeterminate ? 'mixed' : checked"
    (change)="onChange($event)"
  />
  <span class="ds-checkbox__touch">
    <span class="ds-checkbox__box"></span>
  </span>
  <span *ngIf="label" class="ds-checkbox__label">{{ label }}</span>
  <ng-content></ng-content>
</label>
