<ng-container [ngSwitch]="variant">

  <!-- filled → mat-flat-button -->
  <button
    *ngSwitchCase="'filled'"
    mat-flat-button
    [class]="buttonClasses"
    [disabled]="disabled"
    [type]="type"
    [disableRipple]="true"
    [attr.aria-pressed]="ariaPressed"
    (click)="handleClick($event)"
  >
    <ng-content select="[slot='icon-leading']"></ng-content>
    <ng-content></ng-content>
    <ng-content select="[slot='icon-trailing']"></ng-content>
  </button>

  <!-- outlined → mat-stroked-button -->
  <button
    *ngSwitchCase="'outlined'"
    mat-stroked-button
    [class]="buttonClasses"
    [disabled]="disabled"
    [type]="type"
    [disableRipple]="true"
    [attr.aria-pressed]="ariaPressed"
    (click)="handleClick($event)"
  >
    <ng-content select="[slot='icon-leading']"></ng-content>
    <ng-content></ng-content>
    <ng-content select="[slot='icon-trailing']"></ng-content>
  </button>

  <!-- text / destructive / destructive-outlined → mat-button -->
  <button
    *ngSwitchDefault
    mat-button
    [class]="buttonClasses"
    [disabled]="disabled"
    [type]="type"
    [disableRipple]="true"
    [attr.aria-pressed]="ariaPressed"
    (click)="handleClick($event)"
  >
    <ng-content select="[slot='icon-leading']"></ng-content>
    <ng-content></ng-content>
    <ng-content select="[slot='icon-trailing']"></ng-content>
  </button>

</ng-container>
