<mat-chip
  class="ds-chip"
  [class.is-error]="error"
  [class.is-disabled]="disabled"
  [class.is-active]="active"
  [disabled]="disabled"
  (removed)="removed.emit()"
>
  <span *ngIf="icon" class="ds-icon ds-icon--sm ds-chip__icon">{{ icon }}</span>
  <span class="ds-chip__label">{{ label }}</span>
  <button
    *ngIf="removable"
    matChipRemove
    class="ds-chip__remove"
    [attr.aria-label]="'Remove ' + label"
  >
    <span class="ds-icon ds-icon--sm">close</span>
  </button>
</mat-chip>
