<mat-list-item
  class="ds-list-item"
  [class.ds-list-item--interactive]="interactive"
  [class.ds-list-item--2-lines]="variant === '2-lines'"
  [class.ds-list-item--3-lines]="variant === '3-lines'"
  [class.is-disabled]="disabled"
  [attr.tabindex]="interactive ? 0 : null"
  [attr.aria-disabled]="disabled || null"
>
  @if (hasLeading) {
    <div class="ds-list-item__leading">
      <ng-content select="[leading]" />
    </div>
  }
  <div class="ds-list-item__content">
    @if (overline) {
      <span class="ds-list-item__overline">{{ overline }}</span>
    }
    <span class="ds-list-item__primary">{{ primary }}</span>
    @if (secondary) {
      <span class="ds-list-item__secondary">{{ secondary }}</span>
    }
  </div>
  @if (hasTrailing) {
    <div class="ds-list-item__trailing">
      <ng-content select="[trailing]" />
    </div>
  }
  <ng-content />
</mat-list-item>
