<ng-container [ngSwitch]="type">

  <!-- Notification indicator (count or dot) -->
  <span *ngSwitchCase="'indicator'" [class]="indicatorClasses" aria-hidden="true">
    <ng-container *ngIf="!dot">{{ count }}</ng-container>
  </span>

  <!-- Label / chip badge (default) -->
  <span *ngSwitchDefault [class]="badgeClasses">
    <span *ngIf="icon" class="ds-icon ds-icon--xs" aria-hidden="true">{{ icon }}</span>
    <ng-content></ng-content>
    <button
      *ngIf="dismissible"
      class="ds-badge__dismiss"
      type="button"
      aria-label="Dismiss"
      (click)="onDismiss($event)"
    >
      <span class="ds-icon ds-icon--xs" aria-hidden="true">close</span>
    </button>
  </span>

</ng-container>
